@tailwind base;
@tailwind components;
@tailwind utilities;

.mark {
    animation: mark-with-color 2s;
}

@keyframes mark-with-color {
    30% { 
        color: red;
        background-color: oklch(var(--su)); 
    }
    100% { 
        color: black;
        background-color: oklch(var(--b1));
    }
}